In [1]:
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
import numpy as np
import scipy.stats as stats

In [2]:
filename = "data/speeddating.csv"

data = pd.read_csv(filename, sep=',', low_memory=False)

data.head()

,has_null,wave,gender,age,age_o,d_age,d_d_age,race,race_o,samerace,...,d_expected_num_interested_in_me,d_expected_num_matches,like,guess_prob_liked,d_like,d_guess_prob_liked,met,decision,decision_o,match
0,0,1,female,21,27,6,[4-6],'Asian/Pacific Islander/Asian-American',European/Caucasian-American,0,...,[0-3],[3-5],7,6,[6-8],[5-6],0,1,0,0
1,0,1,female,21,22,1,[0-1],'Asian/Pacific Islander/Asian-American',European/Caucasian-American,0,...,[0-3],[3-5],7,5,[6-8],[5-6],1,1,0,0
2,1,1,female,21,22,1,[0-1],'Asian/Pacific Islander/Asian-American','Asian/Pacific Islander/Asian-American',1,...,[0-3],[3-5],7,?,[6-8],[0-4],1,1,1,1
3,0,1,female,21,23,2,[2-3],'Asian/Pacific Islander/Asian-American',European/Caucasian-American,0,...,[0-3],[3-5],7,6,[6-8],[5-6],0,1,1,1
4,0,1,female,21,24,3,[2-3],'Asian/Pacific Islander/Asian-American','Latino/Hispanic American',0,...,[0-3],[3-5],6,6,[6-8],[5-6],0,1,1,1

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8378 entries, 0 to 8377
Columns: 123 entries, has_null to match
dtypes: int64(7), object(116)
memory usage: 7.9+ MB

Looking at our data, we see that we have a large number of columns (123). This is a warning for us because there can be some columns which are highly correlated or explain similar information and these are not beneficial for out study. Moreover, there can be some columns which we already know it won’t affect much the target variable. Hence, we are going to analyze the columns and decide which should stay and which no.

In [4]:
print(data.columns.tolist())

['has_null', 'wave', 'gender', 'age', 'age_o', 'd_age', 'd_d_age', 'race', 'race_o', 'samerace', 'importance_same_race', 'importance_same_religion', 'd_importance_same_race', 'd_importance_same_religion', 'field', 'pref_o_attractive', 'pref_o_sincere', 'pref_o_intelligence', 'pref_o_funny', 'pref_o_ambitious', 'pref_o_shared_interests', 'd_pref_o_attractive', 'd_pref_o_sincere', 'd_pref_o_intelligence', 'd_pref_o_funny', 'd_pref_o_ambitious', 'd_pref_o_shared_interests', 'attractive_o', 'sinsere_o', 'intelligence_o', 'funny_o', 'ambitous_o', 'shared_interests_o', 'd_attractive_o', 'd_sinsere_o', 'd_intelligence_o', 'd_funny_o', 'd_ambitous_o', 'd_shared_interests_o', 'attractive_important', 'sincere_important', 'intellicence_important', 'funny_important', 'ambtition_important', 'shared_interests_important', 'd_attractive_important', 'd_sincere_important', 'd_intellicence_important', 'd_funny_important', 'd_ambtition_important', 'd_shared_interests_important', 'attractive', 'sincere', 'intelligence', 'funny', 'ambition', 'd_attractive', 'd_sincere', 'd_intelligence', 'd_funny', 'd_ambition', 'attractive_partner', 'sincere_partner', 'intelligence_partner', 'funny_partner', 'ambition_partner', 'shared_interests_partner', 'd_attractive_partner', 'd_sincere_partner', 'd_intelligence_partner', 'd_funny_partner', 'd_ambition_partner', 'd_shared_interests_partner', 'sports', 'tvsports', 'exercise', 'dining', 'museums', 'art', 'hiking', 'gaming', 'clubbing', 'reading', 'tv', 'theater', 'movies', 'concerts', 'music', 'shopping', 'yoga', 'd_sports', 'd_tvsports', 'd_exercise', 'd_dining', 'd_museums', 'd_art', 'd_hiking', 'd_gaming', 'd_clubbing', 'd_reading', 'd_tv', 'd_theater', 'd_movies', 'd_concerts', 'd_music', 'd_shopping', 'd_yoga', 'interests_correlate', 'd_interests_correlate', 'expected_happy_with_sd_people', 'expected_num_interested_in_me', 'expected_num_matches', 'd_expected_happy_with_sd_people', 'd_expected_num_interested_in_me', 'd_expected_num_matches', 'like', 'guess_prob_liked', 'd_like', 'd_guess_prob_liked', 'met', 'decision', 'decision_o', 'match']

On the one hand, there are some informative columns which don’t affect the target variable but explain some information of the date. We are going to remove these columns because are noise to our study. Those columns are: wave, position, position_o, pid, iid, id, partner, pid_o, round, has_null.

On the other hand, we have found out that there are some columns which talk about the same information and are redundant. We should remove this columns as well to avoid multicolinearity and simplify the study. Tese columns are all the collumns which have d_ at the beginning. These columns talk about the difference betwen columns.: d_age is the difference in ages, d_attractive is the difference betwen attractivness ratings, … We consider a better option to stay with the individual columns (for example age and age_o) instead of using the difference (d_age) because those columns explain more information and the difference column is inherent in the others (our network can interpret this relation). This happens with all the difference columns, so we have decided to remove them all.

In [5]:
# List of columns to delete
cols_to_drop = [
    'wave', 'position', 'position_o', 'pid', 'iid', 'id', 'partner', 'pid_o',
    'round', 'has_null', 'samerace', 'd_age', 'd_field', 'd_race',
    'd_importance_same_race', 'd_importance_same_religion',
    'd_pref_o_attractive', 'd_pref_o_sincere', 'd_pref_o_intelligence',
    'd_pref_o_funny', 'd_pref_o_ambitious', 'd_pref_o_shared_interests',
    'd_attractive_o', 'd_sinsere_o', 'd_intelligence_o', 'd_funny_o',
    'd_ambitous_o', 'd_shared_interests_o', 'd_attractive_important',
    'd_sincere_important', 'd_intellicence_important', 'd_funny_important',
    'd_ambtition_important', 'd_shared_interests_important', 'd_attractive',
    'd_sincere', 'd_intelligence', 'd_funny', 'd_ambition',
    'd_attractive_partner', 'd_sincere_partner', 'd_intelligence_partner',
    'd_funny_partner', 'd_ambition_partner', 'd_shared_interests_partner',
    'd_sports', 'd_tvsports', 'd_exercise', 'd_dining', 'd_museums', 'd_art',
    'd_hiking', 'd_gaming', 'd_clubbing', 'd_reading', 'd_tv', 'd_theater',
    'd_movies', 'd_concerts', 'd_music', 'd_shopping', 'd_yoga',
    'd_interests_correlate', 'd_expected_happy_with_sd_people',
    'd_expected_num_interested_in_me', 'd_expected_num_matches',
    'd_like', 'd_guess_prob_liked', 'expected_num_interested_in_me',
    'expected_num_matches', 'shared_interests_partner', 'shared_interests_o'
]

data = data.drop(columns=cols_to_drop, errors='ignore')

print(f"Number of remaining columns: {data.shape[1]}")

Number of remaining columns: 61

In [6]:
# List of columns to delete
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8378 entries, 0 to 8377
Data columns (total 61 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   gender                         8378 non-null   object
 1   age                            8378 non-null   object
 2   age_o                          8378 non-null   object
 3   d_d_age                        8378 non-null   object
 4   race                           8378 non-null   object
 5   race_o                         8378 non-null   object
 6   importance_same_race           8378 non-null   object
 7   importance_same_religion       8378 non-null   object
 8   field                          8378 non-null   object
 9   pref_o_attractive              8378 non-null   object
 10  pref_o_sincere                 8378 non-null   object
 11  pref_o_intelligence            8378 non-null   object
 12  pref_o_funny                   8378 non-null   object
 13  pref_o_ambitious               8378 non-null   object
 14  pref_o_shared_interests        8378 non-null   object
 15  attractive_o                   8378 non-null   object
 16  sinsere_o                      8378 non-null   object
 17  intelligence_o                 8378 non-null   object
 18  funny_o                        8378 non-null   object
 19  ambitous_o                     8378 non-null   object
 20  attractive_important           8378 non-null   object
 21  sincere_important              8378 non-null   object
 22  intellicence_important         8378 non-null   object
 23  funny_important                8378 non-null   object
 24  ambtition_important            8378 non-null   object
 25  shared_interests_important     8378 non-null   object
 26  attractive                     8378 non-null   object
 27  sincere                        8378 non-null   object
 28  intelligence                   8378 non-null   object
 29  funny                          8378 non-null   object
 30  ambition                       8378 non-null   object
 31  attractive_partner             8378 non-null   object
 32  sincere_partner                8378 non-null   object
 33  intelligence_partner           8378 non-null   object
 34  funny_partner                  8378 non-null   object
 35  ambition_partner               8378 non-null   object
 36  sports                         8378 non-null   object
 37  tvsports                       8378 non-null   object
 38  exercise                       8378 non-null   object
 39  dining                         8378 non-null   object
 40  museums                        8378 non-null   object
 41  art                            8378 non-null   object
 42  hiking                         8378 non-null   object
 43  gaming                         8378 non-null   object
 44  clubbing                       8378 non-null   object
 45  reading                        8378 non-null   object
 46  tv                             8378 non-null   object
 47  theater                        8378 non-null   object
 48  movies                         8378 non-null   object
 49  concerts                       8378 non-null   object
 50  music                          8378 non-null   object
 51  shopping                       8378 non-null   object
 52  yoga                           8378 non-null   object
 53  interests_correlate            8378 non-null   object
 54  expected_happy_with_sd_people  8378 non-null   object
 55  like                           8378 non-null   object
 56  guess_prob_liked               8378 non-null   object
 57  met                            8378 non-null   object
 58  decision                       8378 non-null   int64
 59  decision_o                     8378 non-null   int64
 60  match                          8378 non-null   int64
dtypes: int64(3), object(58)
memory usage: 3.9+ MB

In [7]:
## Nominal atributes
obj_cols = data.select_dtypes(include='object').columns

for col in obj_cols:
    print(col, data[col].unique()[:15])

gender ['female' 'male']
age ['21' '24' '25' '23' '22' '26' '27' '30' '28' '?' '29' '34' '35' '32' '39']
age_o ['27' '22' '23' '24' '25' '30' '28' '21' '26' '29' '?' '39' '32' '34' '35']
d_d_age ['[4-6]' '[0-1]' '[2-3]' '[7-37]']
race ["'Asian/Pacific Islander/Asian-American'" 'European/Caucasian-American'
 'Other' "'Latino/Hispanic American'" "'Black/African American'" '?']
race_o ['European/Caucasian-American' "'Asian/Pacific Islander/Asian-American'"
 "'Latino/Hispanic American'" 'Other' "'Black/African American'" '?']
importance_same_race ['2' '8' '1' '4' '7' '3' '9' '10' '?' '5' '6' '0']
importance_same_religion ['4' '5' '1' '3' '2' '8' '10' '6' '?' '7' '9']
field ['Law' 'law' 'Economics' "'Masters in Public Administration'"
 "'Masters of Social Work&Education'" 'Finance' 'Business'
 "'political science'" 'money' "'Operations Research'" "'TC [Health Ed]'"
 'Psychology' "'social work'" "'Social Work'"
 "'Speech Language Pathology'"]
pref_o_attractive ['35' '60' '19' '30' '50' '33.33' '100' '15' '45' '20' '10' '9.09' '25'
 '40' '12']
pref_o_sincere ['20' '0' '18' '5' '10' '15' '11.11' '25' '18.18' '35' '?' '22' '23' '17'
 '7']
pref_o_intelligence ['20' '0' '19' '15' '30' '25' '11.11' '35' '27.27' '10' '40' '18' '?' '50'
 '23']
pref_o_funny ['20' '40' '18' '10' '11.11' '0' '15' '25' '18.18' '30' '16' '?' '22' '17'
 '19']
pref_o_ambitious ['0' '14' '5' '10' '11.11' '15' '18.18' '16' '20' '25' '?' '7' '53' '8'
 '17']
pref_o_shared_interests ['5' '0' '12' '20' '10' '22.22' '15' '9.09' '18' '?' '13' '14' '22' '8'
 '30']
attractive_o ['6' '7' '10' '8' '3' '9' '5' '4' '2' '1' '?' '0' '6.5' '7.5' '8.5']
sinsere_o ['8' '10' '7' '6' '9' '3' '5' '4' '1' '2' '?' '4.5' '8.5' '0' '7.5']
intelligence_o ['8' '10' '9' '7' '5' '6' '4' '3' '1' '?' '2' '6.5' '0' '8.5' '7.5']
funny_o ['8' '7' '10' '6' '5' '9' '3' '4' '1' '2' '?' '5.5' '0' '6.5' '9.5']
ambitous_o ['8' '7' '10' '9' '6' '5' '?' '4' '1' '2' '3' '5.5' '9.5' '0' '7.5']
attractive_important ['15' '45' '35' '20' '10' '9.09' '60' '19' '30' '50' '33.33' '100' '12'
 '17' '?']
sincere_important ['20' '5' '10' '25' '15' '18.18' '0' '18' '11.11' '?' '22' '23' '35' '17'
 '32']
intellicence_important ['20' '25' '35' '27.27' '15' '0' '19' '30' '11.11' '40' '18' '?' '50' '23'
 '10']
funny_important ['15' '20' '10' '25' '18.18' '30' '40' '18' '11.11' '0' '16' '?' '22' '17'
 '12']
ambtition_important ['15' '0' '10' '5' '18.18' '14' '11.11' '16' '20' '25' '?' '7' '17' '53'
 '8']
shared_interests_important ['15' '5' '0' '10' '9.09' '12' '20' '22.22' '18' '?' '13' '6' '14' '22'
 '8']
attractive ['6' '7' '8' '5' '9' '4' '10' '?' '3' '2']
sincere ['8' '5' '9' '3' '7' '6' '4' '?' '2' '10']
intelligence ['8' '10' '9' '6' '5' '7' '?' '3' '2' '4']
funny ['8' '9' '7' '10' '6' '?' '5' '3' '4']
ambition ['7' '3' '8' '5' '9' '6' '4' '10' '?' '2']
attractive_partner ['6' '7' '5' '4' '8' '9' '3' '10' '1' '?' '2' '0' '6.5' '7.5' '9.5']
sincere_partner ['9' '8' '6' '7' '5' '10' '4' '1' '3' '?' '2' '4.5' '0' '8.5' '7.5']
intelligence_partner ['7' '9' '8' '6' '10' '5' '1' '4' '3' '?' '6.5' '2' '0' '8.5' '7.5']
funny_partner ['7' '8' '4' '6' '9' '3' '5' '10' '2' '1' '?' '5.5' '0' '6.5' '9.5']
ambition_partner ['6' '5' '8' '10' '9' '3' '7' '4' '2' '1' '?' '5.5' '0' '9.5' '7.5']
sports ['9' '3' '1' '7' '10' '5' '2' '4' '8' '?' '6']
tvsports ['2' '8' '1' '4' '3' '9' '7' '6' '5' '10' '?']
exercise ['8' '7' '6' '9' '4' '1' '2' '5' '10' '3' '?']
dining ['9' '10' '8' '7' '6' '5' '?' '3' '4' '1' '2']
museums ['1' '8' '5' '6' '10' '9' '7' '3' '4' '?' '2' '0']
art ['1' '6' '5' '7' '8' '10' '9' '3' '4' '?' '2' '0']
hiking ['5' '3' '8' '7' '6' '9' '2' '4' '10' '1' '?' '0']
gaming ['1' '5' '4' '6' '2' '3' '7' '8' '10' '?' '9' '14' '0']
clubbing ['5' '8' '7' '6' '10' '4' '9' '2' '3' '?' '1' '0']
reading ['6' '10' '7' '9' '8' '4' '5' '?' '2' '3' '1' '13']
tv ['9' '1' '8' '7' '2' '10' '5' '6' '3' '?' '4']
theater ['1' '9' '7' '6' '5' '10' '4' '3' '8' '?' '2' '0']
movies ['10' '8' '7' '6' '9' '5' '?' '4' '3' '2' '0']
concerts ['10' '7' '8' '3' '6' '9' '4' '5' '?' '2' '1' '0']
music ['9' '8' '5' '7' '4' '10' '6' '?' '1' '2' '3']
shopping ['8' '3' '1' '10' '7' '5' '6' '2' '?' '9' '4']
yoga ['1' '7' '8' '3' '10' '6' '5' '2' '4' '?' '9' '0']
interests_correlate ['0.14' '0.54' '0.16' '0.61' '0.21' '0.25' '0.34' '0.5' '0.28' '-0.36'
 '0.29' '0.18' '0.1' '-0.21' '0.32']
expected_happy_with_sd_people ['3' '4' '1' '7' '6' '8' '5' '10' '?' '2' '9']
like ['7' '6' '8' '5' '9' '4' '10' '2' '1' '3' '6.5' '?' '7.5' '4.5' '8.5']
guess_prob_liked ['6' '5' '?' '7' '4' '3' '8' '1' '10' '2' '9' '4.5' '6.5' '5.5' '0']
met ['0' '1' '?' '3' '5' '7' '8' '6']

In [8]:
data.replace('?', pd.NA, inplace=True)

In [9]:
## Nulls
data.shape[0] - data.dropna().shape[0]

1912

In [10]:
null_counts = data.isnull().sum()

null_counts_with_values = null_counts[null_counts != 0]

print(null_counts_with_values)

age                               95
age_o                            104
race                              63
race_o                            73
importance_same_race              79
importance_same_religion          79
field                             63
pref_o_attractive                 89
pref_o_sincere                    89
pref_o_intelligence               89
pref_o_funny                      98
pref_o_ambitious                 107
pref_o_shared_interests          129
attractive_o                     212
sinsere_o                        287
intelligence_o                   306
funny_o                          360
ambitous_o                       722
attractive_important              79
sincere_important                 79
intellicence_important            79
funny_important                   89
ambtition_important               99
shared_interests_important       121
attractive                       105
sincere                          105
intelligence                     105
funny                            105
ambition                         105
attractive_partner               202
sincere_partner                  277
intelligence_partner             296
funny_partner                    350
ambition_partner                 712
sports                            79
tvsports                          79
exercise                          79
dining                            79
museums                           79
art                               79
hiking                            79
gaming                            79
clubbing                          79
reading                           79
tv                                79
theater                           79
movies                            79
concerts                          79
music                             79
shopping                          79
yoga                              79
interests_correlate              158
expected_happy_with_sd_people    101
like                             240
guess_prob_liked                 309
met                              375
dtype: int64

In [11]:
data.describe()

          decision   decision_o        match
count  8378.000000  8378.000000  8378.000000
mean      0.419909     0.419551     0.164717
std       0.493573     0.493515     0.370947
min       0.000000     0.000000     0.000000
25%       0.000000     0.000000     0.000000
50%       0.000000     0.000000     0.000000
75%       1.000000     1.000000     0.000000
max       1.000000     1.000000     1.000000

In [12]:
for col in obj_cols:
    print(col, data[col].unique()[:10])

gender ['female' 'male']
age ['21' '24' '25' '23' '22' '26' '27' '30' '28' <NA>]
age_o ['27' '22' '23' '24' '25' '30' '28' '21' '26' '29']
d_d_age ['[4-6]' '[0-1]' '[2-3]' '[7-37]']
race ["'Asian/Pacific Islander/Asian-American'" 'European/Caucasian-American'
 'Other' "'Latino/Hispanic American'" "'Black/African American'" <NA>]
race_o ['European/Caucasian-American' "'Asian/Pacific Islander/Asian-American'"
 "'Latino/Hispanic American'" 'Other' "'Black/African American'" <NA>]
importance_same_race ['2' '8' '1' '4' '7' '3' '9' '10' <NA> '5']
importance_same_religion ['4' '5' '1' '3' '2' '8' '10' '6' <NA> '7']
field ['Law' 'law' 'Economics' "'Masters in Public Administration'"
 "'Masters of Social Work&Education'" 'Finance' 'Business'
 "'political science'" 'money' "'Operations Research'"]
pref_o_attractive ['35' '60' '19' '30' '50' '33.33' '100' '15' '45' '20']
pref_o_sincere ['20' '0' '18' '5' '10' '15' '11.11' '25' '18.18' '35']
pref_o_intelligence ['20' '0' '19' '15' '30' '25' '11.11' '35' '27.27' '10']
pref_o_funny ['20' '40' '18' '10' '11.11' '0' '15' '25' '18.18' '30']
pref_o_ambitious ['0' '14' '5' '10' '11.11' '15' '18.18' '16' '20' '25']
pref_o_shared_interests ['5' '0' '12' '20' '10' '22.22' '15' '9.09' '18' <NA>]
attractive_o ['6' '7' '10' '8' '3' '9' '5' '4' '2' '1']
sinsere_o ['8' '10' '7' '6' '9' '3' '5' '4' '1' '2']
intelligence_o ['8' '10' '9' '7' '5' '6' '4' '3' '1' <NA>]
funny_o ['8' '7' '10' '6' '5' '9' '3' '4' '1' '2']
ambitous_o ['8' '7' '10' '9' '6' '5' <NA> '4' '1' '2']
attractive_important ['15' '45' '35' '20' '10' '9.09' '60' '19' '30' '50']
sincere_important ['20' '5' '10' '25' '15' '18.18' '0' '18' '11.11' <NA>]
intellicence_important ['20' '25' '35' '27.27' '15' '0' '19' '30' '11.11' '40']
funny_important ['15' '20' '10' '25' '18.18' '30' '40' '18' '11.11' '0']
ambtition_important ['15' '0' '10' '5' '18.18' '14' '11.11' '16' '20' '25']
shared_interests_important ['15' '5' '0' '10' '9.09' '12' '20' '22.22' '18' <NA>]
attractive ['6' '7' '8' '5' '9' '4' '10' <NA> '3' '2']
sincere ['8' '5' '9' '3' '7' '6' '4' <NA> '2' '10']
intelligence ['8' '10' '9' '6' '5' '7' <NA> '3' '2' '4']
funny ['8' '9' '7' '10' '6' <NA> '5' '3' '4']
ambition ['7' '3' '8' '5' '9' '6' '4' '10' <NA> '2']
attractive_partner ['6' '7' '5' '4' '8' '9' '3' '10' '1' <NA>]
sincere_partner ['9' '8' '6' '7' '5' '10' '4' '1' '3' <NA>]
intelligence_partner ['7' '9' '8' '6' '10' '5' '1' '4' '3' <NA>]
funny_partner ['7' '8' '4' '6' '9' '3' '5' '10' '2' '1']
ambition_partner ['6' '5' '8' '10' '9' '3' '7' '4' '2' '1']
sports ['9' '3' '1' '7' '10' '5' '2' '4' '8' <NA>]
tvsports ['2' '8' '1' '4' '3' '9' '7' '6' '5' '10']
exercise ['8' '7' '6' '9' '4' '1' '2' '5' '10' '3']
dining ['9' '10' '8' '7' '6' '5' <NA> '3' '4' '1']
museums ['1' '8' '5' '6' '10' '9' '7' '3' '4' <NA>]
art ['1' '6' '5' '7' '8' '10' '9' '3' '4' <NA>]
hiking ['5' '3' '8' '7' '6' '9' '2' '4' '10' '1']
gaming ['1' '5' '4' '6' '2' '3' '7' '8' '10' <NA>]
clubbing ['5' '8' '7' '6' '10' '4' '9' '2' '3' <NA>]
reading ['6' '10' '7' '9' '8' '4' '5' <NA> '2' '3']
tv ['9' '1' '8' '7' '2' '10' '5' '6' '3' <NA>]
theater ['1' '9' '7' '6' '5' '10' '4' '3' '8' <NA>]
movies ['10' '8' '7' '6' '9' '5' <NA> '4' '3' '2']
concerts ['10' '7' '8' '3' '6' '9' '4' '5' <NA> '2']
music ['9' '8' '5' '7' '4' '10' '6' <NA> '1' '2']
shopping ['8' '3' '1' '10' '7' '5' '6' '2' <NA> '9']
yoga ['1' '7' '8' '3' '10' '6' '5' '2' '4' <NA>]
interests_correlate ['0.14' '0.54' '0.16' '0.61' '0.21' '0.25' '0.34' '0.5' '0.28' '-0.36']
expected_happy_with_sd_people ['3' '4' '1' '7' '6' '8' '5' '10' <NA> '2']
like ['7' '6' '8' '5' '9' '4' '10' '2' '1' '3']
guess_prob_liked ['6' '5' <NA> '7' '4' '3' '8' '1' '10' '2']
met ['0' '1' <NA> '3' '5' '7' '8' '6']

In [13]:
data.gender.value_counts()

gender
male      4194
female    4184
Name: count, dtype: int64

In [14]:
## Duplicates
duplicates = data.duplicated()
print(df[duplicates])

NameError: name 'df' is not defined

In [ ]:
## Nulls
data.shape[0] - data.dropna().shape[0]