In [1]:
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
import numpy as np
import scipy.stats as stats
from sklearn.impute import SimpleImputer, KNNImputer

# Loading Dataset and EDA

In [2]:
filename = "data/speeddating.csv"

data = pd.read_csv(filename, sep=',', low_memory=False)

data.head()

,has_null,wave,gender,age,age_o,d_age,d_d_age,race,race_o,samerace,...,d_expected_num_interested_in_me,d_expected_num_matches,like,guess_prob_liked,d_like,d_guess_prob_liked,met,decision,decision_o,match
0,0,1,female,21,27,6,[4-6],'Asian/Pacific Islander/Asian-American',European/Caucasian-American,0,...,[0-3],[3-5],7,6,[6-8],[5-6],0,1,0,0
1,0,1,female,21,22,1,[0-1],'Asian/Pacific Islander/Asian-American',European/Caucasian-American,0,...,[0-3],[3-5],7,5,[6-8],[5-6],1,1,0,0
2,1,1,female,21,22,1,[0-1],'Asian/Pacific Islander/Asian-American','Asian/Pacific Islander/Asian-American',1,...,[0-3],[3-5],7,?,[6-8],[0-4],1,1,1,1
3,0,1,female,21,23,2,[2-3],'Asian/Pacific Islander/Asian-American',European/Caucasian-American,0,...,[0-3],[3-5],7,6,[6-8],[5-6],0,1,1,1
4,0,1,female,21,24,3,[2-3],'Asian/Pacific Islander/Asian-American','Latino/Hispanic American',0,...,[0-3],[3-5],6,6,[6-8],[5-6],0,1,1,1

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8378 entries, 0 to 8377
Columns: 123 entries, has_null to match
dtypes: int64(7), object(116)
memory usage: 7.9+ MB

**Data removing justification**

Looking at our data, we see that we have a large number of columns (123). This is a warning for us because there can be some columns which are highly correlated or explain similar information and these are not beneficial for out study. Moreover, there can be some columns which we already know it won’t affect much the target variable. Hence, we are going to analyze the columns and decide which should stay and which no.

In [4]:
print(data.columns.tolist())

['has_null', 'wave', 'gender', 'age', 'age_o', 'd_age', 'd_d_age', 'race', 'race_o', 'samerace', 'importance_same_race', 'importance_same_religion', 'd_importance_same_race', 'd_importance_same_religion', 'field', 'pref_o_attractive', 'pref_o_sincere', 'pref_o_intelligence', 'pref_o_funny', 'pref_o_ambitious', 'pref_o_shared_interests', 'd_pref_o_attractive', 'd_pref_o_sincere', 'd_pref_o_intelligence', 'd_pref_o_funny', 'd_pref_o_ambitious', 'd_pref_o_shared_interests', 'attractive_o', 'sinsere_o', 'intelligence_o', 'funny_o', 'ambitous_o', 'shared_interests_o', 'd_attractive_o', 'd_sinsere_o', 'd_intelligence_o', 'd_funny_o', 'd_ambitous_o', 'd_shared_interests_o', 'attractive_important', 'sincere_important', 'intellicence_important', 'funny_important', 'ambtition_important', 'shared_interests_important', 'd_attractive_important', 'd_sincere_important', 'd_intellicence_important', 'd_funny_important', 'd_ambtition_important', 'd_shared_interests_important', 'attractive', 'sincere', 'intelligence', 'funny', 'ambition', 'd_attractive', 'd_sincere', 'd_intelligence', 'd_funny', 'd_ambition', 'attractive_partner', 'sincere_partner', 'intelligence_partner', 'funny_partner', 'ambition_partner', 'shared_interests_partner', 'd_attractive_partner', 'd_sincere_partner', 'd_intelligence_partner', 'd_funny_partner', 'd_ambition_partner', 'd_shared_interests_partner', 'sports', 'tvsports', 'exercise', 'dining', 'museums', 'art', 'hiking', 'gaming', 'clubbing', 'reading', 'tv', 'theater', 'movies', 'concerts', 'music', 'shopping', 'yoga', 'd_sports', 'd_tvsports', 'd_exercise', 'd_dining', 'd_museums', 'd_art', 'd_hiking', 'd_gaming', 'd_clubbing', 'd_reading', 'd_tv', 'd_theater', 'd_movies', 'd_concerts', 'd_music', 'd_shopping', 'd_yoga', 'interests_correlate', 'd_interests_correlate', 'expected_happy_with_sd_people', 'expected_num_interested_in_me', 'expected_num_matches', 'd_expected_happy_with_sd_people', 'd_expected_num_interested_in_me', 'd_expected_num_matches', 'like', 'guess_prob_liked', 'd_like', 'd_guess_prob_liked', 'met', 'decision', 'decision_o', 'match']

On the one hand, there are some informative columns which don’t affect the target variable but explain some information of the date. We are going to remove these columns because are noise to our study. Those columns are: wave, position, position_o, pid, iid, id, partner, pid_o, round, has_null.

On the other hand, we have found out that there are some columns which talk about the same information and are redundant. We should remove this columns as well to avoid multicolinearity and simplify the study. Tese columns are all the collumns which have d_ at the beginning. These columns talk about the difference betwen columns.: d_age is the difference in ages, d_attractive is the difference betwen attractivness ratings, … We consider a better option to stay with the individual columns (for example age and age_o) instead of using the difference (d_age) because those columns explain more information and the difference column is inherent in the others (our network can interpret this relation). This happens with all the difference columns, so we have decided to remove them all.

In [5]:
# List of columns to delete
cols_to_drop = [
    'wave', 'position', 'position_o', 'pid', 'iid', 'id', 'partner', 'pid_o',
    'round', 'has_null', 'samerace', 'd_age', 'd_field', 'd_race',
    'd_importance_same_race', 'd_importance_same_religion',
    'd_pref_o_attractive', 'd_pref_o_sincere', 'd_pref_o_intelligence',
    'd_pref_o_funny', 'd_pref_o_ambitious', 'd_pref_o_shared_interests',
    'd_attractive_o', 'd_sinsere_o', 'd_intelligence_o', 'd_funny_o',
    'd_ambitous_o', 'd_shared_interests_o', 'd_attractive_important',
    'd_sincere_important', 'd_intellicence_important', 'd_funny_important',
    'd_ambtition_important', 'd_shared_interests_important', 'd_attractive',
    'd_sincere', 'd_intelligence', 'd_funny', 'd_ambition',
    'd_attractive_partner', 'd_sincere_partner', 'd_intelligence_partner',
    'd_funny_partner', 'd_ambition_partner', 'd_shared_interests_partner',
    'd_sports', 'd_tvsports', 'd_exercise', 'd_dining', 'd_museums', 'd_art',
    'd_hiking', 'd_gaming', 'd_clubbing', 'd_reading', 'd_tv', 'd_theater',
    'd_movies', 'd_concerts', 'd_music', 'd_shopping', 'd_yoga',
    'd_interests_correlate', 'd_expected_happy_with_sd_people',
    'd_expected_num_interested_in_me', 'd_expected_num_matches',
    'd_like', 'd_guess_prob_liked', 'decision', 'decision_o',
]

data = data.drop(columns=cols_to_drop, errors='ignore')

print(f"Number of remaining columns: {data.shape[1]}")

Number of remaining columns: 63

In [6]:
# List of columns to delete
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8378 entries, 0 to 8377
Data columns (total 63 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   gender                         8378 non-null   object
 1   age                            8378 non-null   object
 2   age_o                          8378 non-null   object
 3   d_d_age                        8378 non-null   object
 4   race                           8378 non-null   object
 5   race_o                         8378 non-null   object
 6   importance_same_race           8378 non-null   object
 7   importance_same_religion       8378 non-null   object
 8   field                          8378 non-null   object
 9   pref_o_attractive              8378 non-null   object
 10  pref_o_sincere                 8378 non-null   object
 11  pref_o_intelligence            8378 non-null   object
 12  pref_o_funny                   8378 non-null   object
 13  pref_o_ambitious               8378 non-null   object
 14  pref_o_shared_interests        8378 non-null   object
 15  attractive_o                   8378 non-null   object
 16  sinsere_o                      8378 non-null   object
 17  intelligence_o                 8378 non-null   object
 18  funny_o                        8378 non-null   object
 19  ambitous_o                     8378 non-null   object
 20  shared_interests_o             8378 non-null   object
 21  attractive_important           8378 non-null   object
 22  sincere_important              8378 non-null   object
 23  intellicence_important         8378 non-null   object
 24  funny_important                8378 non-null   object
 25  ambtition_important            8378 non-null   object
 26  shared_interests_important     8378 non-null   object
 27  attractive                     8378 non-null   object
 28  sincere                        8378 non-null   object
 29  intelligence                   8378 non-null   object
 30  funny                          8378 non-null   object
 31  ambition                       8378 non-null   object
 32  attractive_partner             8378 non-null   object
 33  sincere_partner                8378 non-null   object
 34  intelligence_partner           8378 non-null   object
 35  funny_partner                  8378 non-null   object
 36  ambition_partner               8378 non-null   object
 37  shared_interests_partner       8378 non-null   object
 38  sports                         8378 non-null   object
 39  tvsports                       8378 non-null   object
 40  exercise                       8378 non-null   object
 41  dining                         8378 non-null   object
 42  museums                        8378 non-null   object
 43  art                            8378 non-null   object
 44  hiking                         8378 non-null   object
 45  gaming                         8378 non-null   object
 46  clubbing                       8378 non-null   object
 47  reading                        8378 non-null   object
 48  tv                             8378 non-null   object
 49  theater                        8378 non-null   object
 50  movies                         8378 non-null   object
 51  concerts                       8378 non-null   object
 52  music                          8378 non-null   object
 53  shopping                       8378 non-null   object
 54  yoga                           8378 non-null   object
 55  interests_correlate            8378 non-null   object
 56  expected_happy_with_sd_people  8378 non-null   object
 57  expected_num_interested_in_me  8378 non-null   object
 58  expected_num_matches           8378 non-null   object
 59  like                           8378 non-null   object
 60  guess_prob_liked               8378 non-null   object
 61  met                            8378 non-null   object
 62  match                          8378 non-null   int64
dtypes: int64(1), object(62)
memory usage: 4.0+ MB

### Object Problem

As we can see, there is some problem with our data that we have to adress. There are some columns that we see that have numeric values but are detected as object. This is caused because there are some ‘?’ that indicate that someone does not know something. For example, if there is ‘?’ on a rating variable, it means that the participant (or the other) does not know how to rate the other person in that specific attribute. For this reason, we are going to adress this values as NaN, in order to treat that variables as numeric as they are.

In [7]:
## Nominal atributes
obj_cols = data.select_dtypes(include='object').columns

for col in obj_cols:
    print(col, data[col].unique()[:15])

gender ['female' 'male']
age ['21' '24' '25' '23' '22' '26' '27' '30' '28' '?' '29' '34' '35' '32' '39']
age_o ['27' '22' '23' '24' '25' '30' '28' '21' '26' '29' '?' '39' '32' '34' '35']
d_d_age ['[4-6]' '[0-1]' '[2-3]' '[7-37]']
race ["'Asian/Pacific Islander/Asian-American'" 'European/Caucasian-American'
 'Other' "'Latino/Hispanic American'" "'Black/African American'" '?']
race_o ['European/Caucasian-American' "'Asian/Pacific Islander/Asian-American'"
 "'Latino/Hispanic American'" 'Other' "'Black/African American'" '?']
importance_same_race ['2' '8' '1' '4' '7' '3' '9' '10' '?' '5' '6' '0']
importance_same_religion ['4' '5' '1' '3' '2' '8' '10' '6' '?' '7' '9']
field ['Law' 'law' 'Economics' "'Masters in Public Administration'"
 "'Masters of Social Work&Education'" 'Finance' 'Business'
 "'political science'" 'money' "'Operations Research'" "'TC [Health Ed]'"
 'Psychology' "'social work'" "'Social Work'"
 "'Speech Language Pathology'"]
pref_o_attractive ['35' '60' '19' '30' '50' '33.33' '100' '15' '45' '20' '10' '9.09' '25'
 '40' '12']
pref_o_sincere ['20' '0' '18' '5' '10' '15' '11.11' '25' '18.18' '35' '?' '22' '23' '17'
 '7']
pref_o_intelligence ['20' '0' '19' '15' '30' '25' '11.11' '35' '27.27' '10' '40' '18' '?' '50'
 '23']
pref_o_funny ['20' '40' '18' '10' '11.11' '0' '15' '25' '18.18' '30' '16' '?' '22' '17'
 '19']
pref_o_ambitious ['0' '14' '5' '10' '11.11' '15' '18.18' '16' '20' '25' '?' '7' '53' '8'
 '17']
pref_o_shared_interests ['5' '0' '12' '20' '10' '22.22' '15' '9.09' '18' '?' '13' '14' '22' '8'
 '30']
attractive_o ['6' '7' '10' '8' '3' '9' '5' '4' '2' '1' '?' '0' '6.5' '7.5' '8.5']
sinsere_o ['8' '10' '7' '6' '9' '3' '5' '4' '1' '2' '?' '4.5' '8.5' '0' '7.5']
intelligence_o ['8' '10' '9' '7' '5' '6' '4' '3' '1' '?' '2' '6.5' '0' '8.5' '7.5']
funny_o ['8' '7' '10' '6' '5' '9' '3' '4' '1' '2' '?' '5.5' '0' '6.5' '9.5']
ambitous_o ['8' '7' '10' '9' '6' '5' '?' '4' '1' '2' '3' '5.5' '9.5' '0' '7.5']
shared_interests_o ['6' '5' '10' '8' '7' '9' '4' '3' '?' '1' '2' '0' '7.5' '6.5' '8.5']
attractive_important ['15' '45' '35' '20' '10' '9.09' '60' '19' '30' '50' '33.33' '100' '12'
 '17' '?']
sincere_important ['20' '5' '10' '25' '15' '18.18' '0' '18' '11.11' '?' '22' '23' '35' '17'
 '32']
intellicence_important ['20' '25' '35' '27.27' '15' '0' '19' '30' '11.11' '40' '18' '?' '50' '23'
 '10']
funny_important ['15' '20' '10' '25' '18.18' '30' '40' '18' '11.11' '0' '16' '?' '22' '17'
 '12']
ambtition_important ['15' '0' '10' '5' '18.18' '14' '11.11' '16' '20' '25' '?' '7' '17' '53'
 '8']
shared_interests_important ['15' '5' '0' '10' '9.09' '12' '20' '22.22' '18' '?' '13' '6' '14' '22'
 '8']
attractive ['6' '7' '8' '5' '9' '4' '10' '?' '3' '2']
sincere ['8' '5' '9' '3' '7' '6' '4' '?' '2' '10']
intelligence ['8' '10' '9' '6' '5' '7' '?' '3' '2' '4']
funny ['8' '9' '7' '10' '6' '?' '5' '3' '4']
ambition ['7' '3' '8' '5' '9' '6' '4' '10' '?' '2']
attractive_partner ['6' '7' '5' '4' '8' '9' '3' '10' '1' '?' '2' '0' '6.5' '7.5' '9.5']
sincere_partner ['9' '8' '6' '7' '5' '10' '4' '1' '3' '?' '2' '4.5' '0' '8.5' '7.5']
intelligence_partner ['7' '9' '8' '6' '10' '5' '1' '4' '3' '?' '6.5' '2' '0' '8.5' '7.5']
funny_partner ['7' '8' '4' '6' '9' '3' '5' '10' '2' '1' '?' '5.5' '0' '6.5' '9.5']
ambition_partner ['6' '5' '8' '10' '9' '3' '7' '4' '2' '1' '?' '5.5' '0' '9.5' '7.5']
shared_interests_partner ['5' '6' '7' '8' '4' '3' '2' '9' '10' '1' '?' '0' '7.5' '6.5' '8.5']
sports ['9' '3' '1' '7' '10' '5' '2' '4' '8' '?' '6']
tvsports ['2' '8' '1' '4' '3' '9' '7' '6' '5' '10' '?']
exercise ['8' '7' '6' '9' '4' '1' '2' '5' '10' '3' '?']
dining ['9' '10' '8' '7' '6' '5' '?' '3' '4' '1' '2']
museums ['1' '8' '5' '6' '10' '9' '7' '3' '4' '?' '2' '0']
art ['1' '6' '5' '7' '8' '10' '9' '3' '4' '?' '2' '0']
hiking ['5' '3' '8' '7' '6' '9' '2' '4' '10' '1' '?' '0']
gaming ['1' '5' '4' '6' '2' '3' '7' '8' '10' '?' '9' '14' '0']
clubbing ['5' '8' '7' '6' '10' '4' '9' '2' '3' '?' '1' '0']
reading ['6' '10' '7' '9' '8' '4' '5' '?' '2' '3' '1' '13']
tv ['9' '1' '8' '7' '2' '10' '5' '6' '3' '?' '4']
theater ['1' '9' '7' '6' '5' '10' '4' '3' '8' '?' '2' '0']
movies ['10' '8' '7' '6' '9' '5' '?' '4' '3' '2' '0']
concerts ['10' '7' '8' '3' '6' '9' '4' '5' '?' '2' '1' '0']
music ['9' '8' '5' '7' '4' '10' '6' '?' '1' '2' '3']
shopping ['8' '3' '1' '10' '7' '5' '6' '2' '?' '9' '4']
yoga ['1' '7' '8' '3' '10' '6' '5' '2' '4' '?' '9' '0']
interests_correlate ['0.14' '0.54' '0.16' '0.61' '0.21' '0.25' '0.34' '0.5' '0.28' '-0.36'
 '0.29' '0.18' '0.1' '-0.21' '0.32']
expected_happy_with_sd_people ['3' '4' '1' '7' '6' '8' '5' '10' '?' '2' '9']
expected_num_interested_in_me ['2' '5' '10' '3' '15' '20' '4' '9' '19' '0' '?' '8' '12' '1' '7']
expected_num_matches ['4' '3' '?' '2' '1' '0' '10' '6' '9' '5' '8' '7' '18' '12' '1.5']
like ['7' '6' '8' '5' '9' '4' '10' '2' '1' '3' '6.5' '?' '7.5' '4.5' '8.5']
guess_prob_liked ['6' '5' '?' '7' '4' '3' '8' '1' '10' '2' '9' '4.5' '6.5' '5.5' '0']
met ['0' '1' '?' '3' '5' '7' '8' '6']

In [8]:
data.replace('?', pd.NA, inplace=True)

In [9]:
print(data.columns.tolist())

['gender', 'age', 'age_o', 'd_d_age', 'race', 'race_o', 'importance_same_race', 'importance_same_religion', 'field', 'pref_o_attractive', 'pref_o_sincere', 'pref_o_intelligence', 'pref_o_funny', 'pref_o_ambitious', 'pref_o_shared_interests', 'attractive_o', 'sinsere_o', 'intelligence_o', 'funny_o', 'ambitous_o', 'shared_interests_o', 'attractive_important', 'sincere_important', 'intellicence_important', 'funny_important', 'ambtition_important', 'shared_interests_important', 'attractive', 'sincere', 'intelligence', 'funny', 'ambition', 'attractive_partner', 'sincere_partner', 'intelligence_partner', 'funny_partner', 'ambition_partner', 'shared_interests_partner', 'sports', 'tvsports', 'exercise', 'dining', 'museums', 'art', 'hiking', 'gaming', 'clubbing', 'reading', 'tv', 'theater', 'movies', 'concerts', 'music', 'shopping', 'yoga', 'interests_correlate', 'expected_happy_with_sd_people', 'expected_num_interested_in_me', 'expected_num_matches', 'like', 'guess_prob_liked', 'met', 'match']

In [10]:
## Data that is actually Nominal
cols_nom = ['gender', 'race', 'race_o', 'field', 'match']
## Data that is actually Numeric            
cols_num = ['age', 'age_o', 'd_d_age', 'importance_same_race', 'importance_same_religion', 'pref_o_attractive', 'pref_o_sincere', 
            'pref_o_intelligence', 'pref_o_funny', 'pref_o_ambitious', 'pref_o_shared_interests', 'attractive_important', 'sincere_important', 
            'intellicence_important', 'funny_important', 'ambtition_important', 'shared_interests_important', 'attractive', 'sincere', 
            'intelligence', 'funny', 'ambition', 'attractive_partner', 'shared_interests_partner', 'sports', 'tvsports', 'exercise',
            'dining', 'museums', 'art', 'hiking', 'gaming', 'clubbing', 'reading', 'tv', 'theater', 'movies', 'concerts', 'music', 
            'shopping', 'yoga', 'interests_correlate', 'expected_happy_with_sd_people', 'expected_num_interested_in_me', 'expected_num_matches',
            'like', 'guess_prob_liked', 'met', 'attractive_o', 'sinsere_o', 'intelligence_o', 'funny_o', 'ambitous_o', 'shared_interests_o' , 'sincere_partner',
            'intelligence_partner', 'ambition_partner', 'funny_partner'
           ]

In [11]:
## Explicitly coversion using the API documentation
for col in cols_num:
    if col in data.columns:  
        data[col] = pd.to_numeric(data[col], errors='coerce')
for col in cols_nom:
    if col in data.columns:
        data[col] = data[col].astype('category')

In [12]:
## We can check the correct atributes!!
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8378 entries, 0 to 8377
Data columns (total 63 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   gender                         8378 non-null   category
 1   age                            8283 non-null   float64
 2   age_o                          8274 non-null   float64
 3   d_d_age                        0 non-null      float64
 4   race                           8315 non-null   category
 5   race_o                         8305 non-null   category
 6   importance_same_race           8299 non-null   float64
 7   importance_same_religion       8299 non-null   float64
 8   field                          8315 non-null   category
 9   pref_o_attractive              8289 non-null   float64
 10  pref_o_sincere                 8289 non-null   float64
 11  pref_o_intelligence            8289 non-null   float64
 12  pref_o_funny                   8280 non-null   float64
 13  pref_o_ambitious               8271 non-null   float64
 14  pref_o_shared_interests        8249 non-null   float64
 15  attractive_o                   8166 non-null   float64
 16  sinsere_o                      8091 non-null   float64
 17  intelligence_o                 8072 non-null   float64
 18  funny_o                        8018 non-null   float64
 19  ambitous_o                     7656 non-null   float64
 20  shared_interests_o             7302 non-null   float64
 21  attractive_important           8299 non-null   float64
 22  sincere_important              8299 non-null   float64
 23  intellicence_important         8299 non-null   float64
 24  funny_important                8289 non-null   float64
 25  ambtition_important            8279 non-null   float64
 26  shared_interests_important     8257 non-null   float64
 27  attractive                     8273 non-null   float64
 28  sincere                        8273 non-null   float64
 29  intelligence                   8273 non-null   float64
 30  funny                          8273 non-null   float64
 31  ambition                       8273 non-null   float64
 32  attractive_partner             8176 non-null   float64
 33  sincere_partner                8101 non-null   float64
 34  intelligence_partner           8082 non-null   float64
 35  funny_partner                  8028 non-null   float64
 36  ambition_partner               7666 non-null   float64
 37  shared_interests_partner       7311 non-null   float64
 38  sports                         8299 non-null   float64
 39  tvsports                       8299 non-null   float64
 40  exercise                       8299 non-null   float64
 41  dining                         8299 non-null   float64
 42  museums                        8299 non-null   float64
 43  art                            8299 non-null   float64
 44  hiking                         8299 non-null   float64
 45  gaming                         8299 non-null   float64
 46  clubbing                       8299 non-null   float64
 47  reading                        8299 non-null   float64
 48  tv                             8299 non-null   float64
 49  theater                        8299 non-null   float64
 50  movies                         8299 non-null   float64
 51  concerts                       8299 non-null   float64
 52  music                          8299 non-null   float64
 53  shopping                       8299 non-null   float64
 54  yoga                           8299 non-null   float64
 55  interests_correlate            8220 non-null   float64
 56  expected_happy_with_sd_people  8277 non-null   float64
 57  expected_num_interested_in_me  1800 non-null   float64
 58  expected_num_matches           7205 non-null   float64
 59  like                           8138 non-null   float64
 60  guess_prob_liked               8069 non-null   float64
 61  met                            8003 non-null   float64
 62  match                          8378 non-null   category
dtypes: category(5), float64(58)
memory usage: 3.8 MB

In [13]:
## Nulls
data.shape[0] - data.dropna().shape[0]

8378

In [14]:
null_counts = data.isnull().sum()

null_counts_with_values = null_counts[null_counts != 0]

print(null_counts_with_values)

age                                95
age_o                             104
d_d_age                          8378
race                               63
race_o                             73
                                 ...
expected_num_interested_in_me    6578
expected_num_matches             1173
like                              240
guess_prob_liked                  309
met                               375
Length: 61, dtype: int64

**Missing values**

Once we have solved the problem with ‘?’ values, now we have to adress missing values. As we can see, we have a lot of columns with missing value. However, we have columns with more missing values than other, and this is crucial to decide how we are going to treat them. As there are variables with a high percentatge of missing values, wr have decided to put a treshold of percentatge of missing values. So, our procedure with missing values is the following:

- Get rid of columns with > 10% of missing values
- Impute missing values of columns with < 10% missing values.

We consider that those columns with 10% of missing values are not useful to out study because are unclear variables or variables with incomplete information. For this reason, we do not find woth it to impute them values, as the imputation would be imprecise and we would add noise to our dataset. Talking about the other columns, we dont’t consider to eliminate rows with missing values because there are a lot of attributes, and it does not make sense to us to get rid of a row only because it has a NaN in one specific column and not in the others.

In [15]:
## Searching for columns to delete or impute
threshold = 0.1  # 10%
cols_to_drop = data.columns[data.isnull().mean() > threshold]
cols_to_impute = data.columns[data.isnull().mean() <= threshold]

## Deleting data
data = data.drop(columns=cols_to_drop)
## Imputing data
num_cols_to_impute = [col for col in cols_num if col in cols_to_impute]
cat_cols_to_impute = [col for col in cols_nom if col in cols_to_impute]

# Numeric → mediana
imputer_num = SimpleImputer(strategy='median')
data[num_cols_to_impute] = imputer_num.fit_transform(data[num_cols_to_impute])

# Categorical -> mode
imputer_cat = SimpleImputer(strategy='most_frequent')
data[cat_cols_to_impute] = imputer_cat.fit_transform(data[cat_cols_to_impute])

print(f"Remaining columns: {data.shape[1]}")

Remaining columns: 58

In [16]:
## We check if everything is okay with Nulls.
data.shape[0] - data.dropna().shape[0]

0

### Simple Descriptive Analisis

In [17]:
data.describe()

,age,age_o,importance_same_race,importance_same_religion,pref_o_attractive,pref_o_sincere,pref_o_intelligence,pref_o_funny,pref_o_ambitious,pref_o_shared_interests,...,movies,concerts,music,shopping,yoga,interests_correlate,expected_happy_with_sd_people,like,guess_prob_liked,met
count,8378.000000,8378.000000,8378.000000,8378.000000,8378.000000,8378.000000,8378.000000,8378.000000,8378.000000,8378.000000,...,8378.000000,8378.000000,8378.000000,8378.000000,8378.000000,8378.000000,8378.000000,8378.000000,8378.000000,8378.000000
mean,26.354858,26.360468,3.777393,3.645500,22.468839,17.407205,20.267883,17.466034,10.676622,11.827362,...,7.920387,6.827047,7.852471,5.634758,4.335999,0.196274,5.539747,6.130246,5.199869,0.047625
std,3.546684,3.541689,2.833273,2.792688,12.505468,7.007194,6.746824,6.050104,6.087777,6.315311,...,1.692906,2.146157,1.783416,2.596826,2.704966,0.300669,1.724324,1.814855,2.090285,0.275972
min,18.000000,18.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,1.000000,1.000000,0.000000,-0.830000,1.000000,0.000000,0.000000,0.000000
25%,24.000000,24.000000,1.000000,1.000000,15.000000,15.000000,17.650000,15.000000,5.000000,10.000000,...,7.000000,5.000000,7.000000,4.000000,2.000000,-0.010000,5.000000,5.000000,4.000000,0.000000
50%,26.000000,26.000000,3.000000,3.000000,20.000000,18.370000,20.000000,18.000000,10.000000,10.640000,...,8.000000,7.000000,8.000000,6.000000,4.000000,0.210000,6.000000,6.000000,5.000000,0.000000
75%,28.000000,28.000000,6.000000,6.000000,25.000000,20.000000,23.260000,20.000000,15.000000,15.690000,...,9.000000,8.000000,9.000000,8.000000,6.000000,0.430000,7.000000,7.000000,7.000000,0.000000
max,55.000000,55.000000,10.000000,10.000000,100.000000,60.000000,50.000000,50.000000,53.000000,30.000000,...,10.000000,10.000000,10.000000,10.000000,10.000000,0.910000,10.000000,10.000000,10.000000,8.000000

In [18]:
## Duplicates
duplicates = data.duplicated()
print(data[duplicates])

Empty DataFrame
Columns: [gender, age, age_o, race, race_o, importance_same_race, importance_same_religion, field, pref_o_attractive, pref_o_sincere, pref_o_intelligence, pref_o_funny, pref_o_ambitious, pref_o_shared_interests, attractive_o, sinsere_o, intelligence_o, funny_o, ambitous_o, attractive_important, sincere_important, intellicence_important, funny_important, ambtition_important, shared_interests_important, attractive, sincere, intelligence, funny, ambition, attractive_partner, sincere_partner, intelligence_partner, funny_partner, ambition_partner, sports, tvsports, exercise, dining, museums, art, hiking, gaming, clubbing, reading, tv, theater, movies, concerts, music, shopping, yoga, interests_correlate, expected_happy_with_sd_people, like, guess_prob_liked, met, match]
Index: []

[0 rows x 58 columns]

**Outliers**

In [19]:
outlier_info = {}

numeric_cols = data.select_dtypes(include=['number']).columns
df_numeric = data[numeric_cols].copy()

for col in numeric_cols:
    Q1 = df_numeric[col].quantile(0.25)
    Q3 = df_numeric[col].quantile(0.75)
    IQR = Q3 - Q1
    lower_limit = Q1 - 1.5 * IQR
    upper_limit = Q3 + 1.5 * IQR

    outlier_mask = (df_numeric[col] < lower_limit) | (df_numeric[col] > upper_limit)
    num_outliers = outlier_mask.sum()
    perc_outliers = num_outliers / len(df_numeric) * 100

    outlier_info[col] = perc_outliers

outlier_summary = pd.DataFrame.from_dict(outlier_info, orient='index', columns=['%_outliers'])
print("Percentage of outliers by column")
print(outlier_summary.sort_values('%_outliers', ascending=False))

low_outlier_cols = [col for col, perc in outlier_info.items() if perc < 1]
high_outlier_cols = [col for col, perc in outlier_info.items() if perc >= 1]

print(f"\nColumns with <1% outliers: {low_outlier_cols}")
print(f"Columns with >=1% outliers: {high_outlier_cols}")


initial_rows = len(data)

# Remove rows with low-outlier columns
for col in low_outlier_cols:
    Q1 = df_numeric[col].quantile(0.25)
    Q3 = df_numeric[col].quantile(0.75)
    IQR = Q3 - Q1
    lower_limit = Q1 - 1.5 * IQR
    upper_limit = Q3 + 1.5 * IQR
    data = data[~((data[col] < lower_limit) | (data[col] > upper_limit))]

total_rows_removed = initial_rows - len(data)

# Track total values to impute
total_values_to_impute = 0
for col in high_outlier_cols:
    Q1 = data[col].quantile(0.25)
    Q3 = data[col].quantile(0.75)
    IQR = Q3 - Q1
    lower_limit = Q1 - 1.5 * IQR
    upper_limit = Q3 + 1.5 * IQR
    values_to_impute = ((data[col] < lower_limit) | (data[col] > upper_limit)).sum()
    total_values_to_impute += values_to_impute
    data.loc[(data[col] < lower_limit) | (data[col] > upper_limit), col] = np.nan

print(f"\nTotal rows removed due to low-percentage outliers: {total_rows_removed}")
print(f"Total values to impute (high-percentage outliers): {total_values_to_impute}")

# Apply KNN Imputer only to numeric columns
imputer = KNNImputer(n_neighbors=5)
data[numeric_cols] = imputer.fit_transform(data[numeric_cols])
print("KNN imputation completed for numeric columns.")

Percentage of outliers by column
                               %_outliers
intelligence_partner            18.954404
intelligence_o                  18.930532
sincere_important               13.965147
pref_o_sincere                  13.953211
pref_o_shared_interests         11.231798
shared_interests_important      11.231798
sincere                          9.656243
funny_important                  8.761041
pref_o_funny                     8.749105
attractive_important             6.552877
pref_o_attractive                6.529005
intellicence_important           6.302220
pref_o_intelligence              6.302220
reading                          5.586059
met                              4.285032
funny                            3.688231
ambition                         2.948198
movies                           2.315588
museums                          2.196228
intelligence                     2.100740
age_o                            2.064932
age                              2.064932
dining                           1.981380
ambition_partner                 1.766531
ambitous_o                       1.766531
music                            1.551683
sincere_partner                  1.456195
sinsere_o                        1.456195
like                             1.408451
expected_happy_with_sd_people    1.384579
gaming                           0.931010
attractive                       0.238720
art                              0.214848
concerts                         0.214848
theater                          0.214848
funny_partner                    0.167104
funny_o                          0.167104
pref_o_ambitious                 0.119360
ambtition_important              0.119360
attractive_o                     0.095488
attractive_partner               0.095488
interests_correlate              0.071616
importance_same_religion         0.000000
importance_same_race             0.000000
sports                           0.000000
exercise                         0.000000
tvsports                         0.000000
hiking                           0.000000
clubbing                         0.000000
tv                               0.000000
shopping                         0.000000
yoga                             0.000000
guess_prob_liked                 0.000000

Columns with <1% outliers: ['importance_same_race', 'importance_same_religion', 'pref_o_ambitious', 'attractive_o', 'funny_o', 'ambtition_important', 'attractive', 'attractive_partner', 'funny_partner', 'sports', 'tvsports', 'exercise', 'art', 'hiking', 'gaming', 'clubbing', 'tv', 'theater', 'concerts', 'shopping', 'yoga', 'interests_correlate', 'guess_prob_liked']
Columns with >=1% outliers: ['age', 'age_o', 'pref_o_attractive', 'pref_o_sincere', 'pref_o_intelligence', 'pref_o_funny', 'pref_o_shared_interests', 'sinsere_o', 'intelligence_o', 'ambitous_o', 'attractive_important', 'sincere_important', 'intellicence_important', 'funny_important', 'shared_interests_important', 'sincere', 'intelligence', 'funny', 'ambition', 'sincere_partner', 'intelligence_partner', 'ambition_partner', 'dining', 'museums', 'reading', 'movies', 'music', 'expected_happy_with_sd_people', 'like', 'met']

Total rows removed due to low-percentage outliers: 173
Total values to impute (high-percentage outliers): 14669
KNN imputation completed for numeric columns.

In [20]:
data.describe()

,age,age_o,importance_same_race,importance_same_religion,pref_o_attractive,pref_o_sincere,pref_o_intelligence,pref_o_funny,pref_o_ambitious,pref_o_shared_interests,...,movies,concerts,music,shopping,yoga,interests_correlate,expected_happy_with_sd_people,like,guess_prob_liked,met
count,8205.000000,8205.000000,8205.000000,8205.000000,8205.000000,8205.000000,8205.000000,8205.000000,8205.000000,8205.000000,...,8205.000000,8205.000000,8205.000000,8205.000000,8205.000000,8205.000000,8205.000000,8205.000000,8205.000000,8205.0
mean,26.131432,26.133285,3.797806,3.641073,20.400959,17.506420,20.062735,17.196174,10.618262,12.502941,...,8.028105,6.822913,7.918781,5.608166,4.338208,0.200520,5.601487,6.176490,5.207983,0.0
std,3.109370,3.099112,2.839343,2.778161,7.802571,4.072523,4.733150,4.185517,5.923480,4.718608,...,1.468358,2.123666,1.634362,2.582129,2.698539,0.298493,1.625469,1.722159,2.080265,0.0
min,18.000000,18.000000,0.000000,1.000000,0.000000,8.000000,10.000000,8.000000,0.000000,2.000000,...,4.000000,1.000000,4.000000,1.000000,0.000000,-0.640000,2.000000,2.000000,0.000000,0.0
25%,24.000000,24.000000,1.000000,1.000000,15.000000,15.000000,18.000000,15.000000,5.000000,10.000000,...,7.000000,5.000000,7.000000,4.000000,2.000000,-0.010000,5.000000,5.000000,4.000000,0.0
50%,26.000000,26.000000,3.000000,3.000000,20.000000,18.000000,20.000000,18.000000,10.000000,11.630000,...,8.000000,7.000000,8.000000,6.000000,4.000000,0.210000,6.000000,6.000000,5.000000,0.0
75%,28.000000,28.000000,6.000000,6.000000,25.000000,20.000000,22.000000,20.000000,15.000000,15.220000,...,9.000000,8.000000,9.000000,8.000000,7.000000,0.430000,7.000000,7.000000,7.000000,0.0
max,34.000000,34.000000,10.000000,10.000000,40.000000,26.000000,30.000000,27.000000,30.000000,23.810000,...,10.000000,10.000000,10.000000,10.000000,10.000000,0.910000,10.000000,10.000000,10.000000,0.0

**Fixing Field**

In [31]:
data.head(10)

,gender,age,age_o,race,race_o,importance_same_race,importance_same_religion,field,pref_o_attractive,pref_o_sincere,...,concerts,music,shopping,yoga,interests_correlate,expected_happy_with_sd_people,like,guess_prob_liked,met,match
0,female,21.0,27.0,'Asian/Pacific Islander/Asian-American',European/Caucasian-American,2.0,4.0,Law,35.000,20.000,...,10.0,9.0,8.0,1.0,0.14,3.0,7.0,6.0,0.0,0
1,female,21.0,22.0,'Asian/Pacific Islander/Asian-American',European/Caucasian-American,2.0,4.0,Law,32.666,15.984,...,10.0,9.0,8.0,1.0,0.54,3.0,7.0,5.0,0.0,0
2,female,21.0,22.0,'Asian/Pacific Islander/Asian-American','Asian/Pacific Islander/Asian-American',2.0,4.0,Law,19.000,18.000,...,10.0,9.0,8.0,1.0,0.16,3.0,7.0,5.0,0.0,1
3,female,21.0,23.0,'Asian/Pacific Islander/Asian-American',European/Caucasian-American,2.0,4.0,Law,30.000,19.478,...,10.0,9.0,8.0,1.0,0.61,3.0,7.0,6.0,0.0,1
4,female,21.0,24.0,'Asian/Pacific Islander/Asian-American','Latino/Hispanic American',2.0,4.0,Law,30.000,10.000,...,10.0,9.0,8.0,1.0,0.21,3.0,6.0,6.0,0.0,1
5,female,21.0,25.0,'Asian/Pacific Islander/Asian-American',European/Caucasian-American,2.0,4.0,Law,26.000,16.000,...,10.0,9.0,8.0,1.0,0.25,3.0,6.0,5.0,0.0,0
6,female,21.0,30.0,'Asian/Pacific Islander/Asian-American',European/Caucasian-American,2.0,4.0,Law,35.000,15.000,...,10.0,9.0,8.0,1.0,0.34,3.0,6.0,5.0,0.0,0
7,female,21.0,27.0,'Asian/Pacific Islander/Asian-American',European/Caucasian-American,2.0,4.0,Law,33.330,11.110,...,10.0,9.0,8.0,1.0,0.50,3.0,6.0,7.0,0.0,0
8,female,21.0,28.0,'Asian/Pacific Islander/Asian-American',European/Caucasian-American,2.0,4.0,Law,28.000,13.000,...,10.0,9.0,8.0,1.0,0.28,3.0,7.0,7.0,0.0,1
9,female,21.0,24.0,'Asian/Pacific Islander/Asian-American',European/Caucasian-American,2.0,4.0,Law,32.666,15.984,...,10.0,9.0,8.0,1.0,-0.36,3.0,6.0,6.0,0.0,0

In [32]:
data['field'] = data['field'].str.replace("'", "", regex=False).str.title()

## Veryfing Field
print(data['field'].unique()[:10])

['Law' 'Economics' 'Masters In Public Administration'
 'Masters Of Social Work&Education' 'Finance' 'Business'
 'Political Science' 'Money' 'Operations Research' 'Tc [Health Ed]'
 'Psychology' 'Social Work' 'Speech Language Pathology'
 'Speech Languahe Pathology' 'Educational Psychology'
 'Applied Maths/Econs' 'Mathematics' 'Statistics'
 'Organizational Psychology' 'Mechanical Engineering']

Número de valores únicos: 217